@using Appointment_Booking_MVC.Models
@model Doctor
@{
    ViewBag.Title = "ManageDoctors";
}
<div class="card cardModify" id="ManageDoctors">
    <div class="card-body">
        <h1>Manage Doctors</h1>
        <br />
        <p style="color: red">* Indicate Mandatory Field</p>
        <br />
        <br />
        @using (Html.BeginForm("SubmitData", "ManageDoctors", FormMethod.Post, new
        {
            enctype = "multipart/form-data"
        }))
        {
            <!--Name-->
            <label><b>Doctor Name: </b></label>
            
            <br />
            <br />
            <!--Mobile Number-->
            <label><b>Doctor Mobile Number: </b></label>
            <br />
            <br />
            <!--Email-->
            <label><b>Doctor Email: </b></label>
            <br />
            <br />
            <!--Designation-->
            <label><b>Doctor Designation: </b></label>
            <br />
            <br />
            <!--From Time-->
            <label><b>Doctor From Time: </b></label>
            <br />
            <br />
            <!--To Time-->
            <label><b>Doctor To Time: </b></label>
            <br />
            <br />
            <!--Image-->
            <br />
            <br />
            <label><b>Doctor Image: </b></label>
            <input formenctype="multipart/form-data" type="file" name="Image" id="Image" />

            <input type="submit" value="Submit" class="btn btn-primary" />
        }

        <br />
        <br />
        <!---------------Data---------------------->
        <table>
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Doctor Designation</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    List<Doctor> doctors = (List<Doctor>)Session["Doctors"];
                    foreach (Doctor doctor in doctors)
                    {
                        <tr>
                            <td>
                                <label>@doctor.Doctor_Name</label>
                            </td>
                            <td>
                                <label>@doctor.Doctor_Designation</label>
                            </td>
                            <td>
                                <a href=@Url.Action("ViewDoctorDetails", new { id = doctor.Doctor_Id })>View</a>
                            </td>
                            <td>
                                <a href=@Url.Action("ViewDoctorAppointments", new { id = doctor.Doctor_Id })>Edit</a>
                            </td>
                            <td>
                                <a href=@Url.Action("Confirmation", new { id = doctor.Doctor_Id }) class="text-danger">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal" tabindex="-1" id="ViewDoctorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Doctor Details</h5>
                <button type="button" class="close fonts" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{
                    Doctor doctor1 = ViewBag.Doctor;
                    if (doctor1 != null)
                    {
                        string ImageUrl = "data:image;base64," + Convert.ToBase64String((byte[])doctor1.Doctor_Image);
                        <img src=@ImageUrl alt="DoctorImage" width="100" height="100" />
                        <br />
                        <label><b>Doctor Name: </b></label><label>@doctor1.Doctor_Name</label>
                        <br />
                        <label><b>Doctor Designation:</b></label><label>@doctor1.Doctor_Name</label>
                        <br />
                        <label><b>Doctor Email:</b></label><label>@doctor1.Doctor_Email</label>
                        <br />
                        <label><b>Doctor Mobile Number: </b></label><label>@doctor1.Doctor_ContactNo</label>
                        <br />
                        <label><b>Doctor Avail From: </b></label><label>@doctor1.From_Time.ToString()</label>
                        <br />
                        <label><b>Doctor Avail Till: </b></label><label>@doctor1.To_Time.ToString()</label>
                    }
                }

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="ModalConfirmation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are You Sure?</p>
            </div>
            <div class="modal-footer">
                <a href=@Url.Action("DeleteDoctor") class="btn btn-danger">Delete</a>
                <a href=@Url.Action("Index","ManageDoctors") class="btn btn-secondary">Cancle</a>
            </div>
        </div>
    </div>
</div>
<script>
    @if(ViewBag.ModalShow!=null)
        {
            @Html.Raw(ViewBag.ModalShow);
        }
    @if(ViewBag.ConfirmationMessage != null)
    {
            @Html.Raw(ViewBag.ConfirmationMessage);
        }
</script>

